body {
    font-family: var(--bs-body-font-family);
    background-color: #ededed;
}

.header-footer-colors {
    background-color: #290500;
    color:#d7bda5;
}

.badge-x {
    color: #290500;
    background-color: #e2cab7;
}
